# OpenAI API Configuration
OPENAI_API_KEY=sk-your-openai-api-key-here

# MongoDB Configuration
MONGO_URL=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=taro

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=8027914431:AAH03n5VZBqCs_2hOnGnTIm6fobVA_VzbEE

# Optional: Server Configuration
PORT=8000
